* {
    padding: 0px;
    margin: 0px;
}

.nav>ul>li {
    color: #6c757d;
    transition-duration: 0.5s;
}

.nav>ul>li:hover {
    color: #343a40;
    transition-duration: 0.5s;
    cursor: pointer;
}

.banner {
    background-image: linear-gradient(rgba(25, 0, 255, 0.8), rgba(25, 0, 255, 0.6)), url(./images/banner-1.jpg);
}

.para {
    animation-name: para-slide;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    position: relative;
}

.h1 {
    animation-name: h1-slide;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    position: relative;
}

.div {
    /* animation-name: div-slide; */
    animation-duration: 3s;
    animation-iteration-count: infinite;
    position: relative;
}

.div:hover {
    cursor: pointer;
}

.div::before {
    content: "";
    top: 0px;
    left: 0%;
    background-color: black;
    visibility: hidden;
    transition-duration: 0.8s;
    position: absolute;
    width: 50%;
    height: 100%;
}

.div::after {
    background-color: black;
    top: 0px;
    left: 50%;
    content: "";
    visibility: hidden;
    transition-duration: 0.8s;
    position: absolute;
    width: 50%;
    height: 100%;
}

.div:hover::before {
    visibility: visible;
    transition-duration: 0.8s;
    left: 50%;
    width: 0%;
    height: 100%;
    opacity: 0
}

.div:hover::after {
    visibility: visible;
    transition-duration: 0.8s;
    width: 0%;
    height: 100%;
    opacity: 0;
}

@keyframes para-slide {
    0% {
        top: -50px;
        opacity: 0;
    }

    50% {
        top: 0px;
        opacity: 1;
    }

    100% {
        top: -50px;
        opacity: 0;
    }
}

@keyframes h1-slide {
    0% {
        right: -50px;
        opacity: 0;
    }

    50% {
        right: 0px;
        opacity: 1;
    }

    100% {
        right: -50px;
        opacity: 0;
    }
}

@keyframes div-slide {
    0% {
        bottom: -50px;
        opacity: 0;
    }

    50% {
        bottom: 0px;
        opacity: 1;
    }

    100% {
        bottom: -50px;
        opacity: 0;
    }
}

.card::before {
    border: 2px solid red;
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    width: 0%;
    height: 0%;
    transition-duration: 0.5s;
    border-radius: 0.5rem;
}

.card:hover::before {
    width: 100%;
    height: 100%;
    transition-duration: 0.5s;
}

.circle::before {
    border-radius: 50%;
    width: 0%;
    height: 0%;
    content: "";
    background-color: red;
    position: absolute;
    top: 0px;
    left: 0px;
    transition-duration: 0.5s;
}

.card:hover .circle::before {
    width: 100%;
    height: 100%;
    transition-duration: 0.5s;
}